.container-Lista-Tickets{
    display: flex;
    flex-direction: column;

    justify-content:flex-start;

    width: 100%;
    height: 90%;

    background-color: white;
    border-radius: 2vw;
    
    margin: 1%;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.container-Tickets-Gerados{
    display: flex;
    flex-direction: column;

    padding: 1vh;

    width: 100%;
    height: 100%;

    list-style: none;
}

.list-Tickets-Item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;

    font-size: 2vh;
}