.Menu-Navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: whitesmoke;

  background-image: url('/blue-bg.jpg');
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 8vh;
}

.Menu-Title {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 70%;
  margin-left: 2vw;
}

.span-Title-TopMenu {
  font-size: 3vh;
}

.span-SubTitle-TopMenu {
  margin-top: -1vh;
  font-size: 2vh;
  font-style: italic;
  color: 	#89CFF0;
}

.Menu-Configs {
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;
  width: auto;
}

.Icon {
  height: 45%;
  width: auto;
}

.Menu-Icon {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;

  margin: 1vw;
  margin-right: 2vw;
}

.Menu-Icon .Icon {
  cursor: pointer;
}


.container-Buttons-TopMenu {
  display: flex;
}
