.container-ContadorAtendimentos{
    display: flex;
    flex-direction: column;
    
    width: 40%;
    height: 100%;

    margin: 1%;
    margin-top: 7%;
    border-radius: 2vw;
    border-top: 2vh solid green;    

    background-color: white;
}

.span-Label-Title-MiniContainer{
    font-size: 1rem;
    font-weight: bold;
    margin: 2vh;
}