.div-Pai-ContadorAtendimentos{
    display: flex;
    flex-direction: column;
    
    width: 40%;

    min-height: 10vh;

    margin: 1%;
    margin-top: 7%;
    border-radius: 2vw;

    background-color: white;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-ContadorAtendimentos{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 18vh;
}