.div-pai-ZerarTicket{
    width: 40dvw;
}
.form-Zerar-Ticket{
    padding: 2dvh;
    background-image: url(crud-bg.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 2vw;
}