.container-Tela-Atendimento{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.component-Tela-Atendimento{
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
}