.form-Cadastro{
    display: flex;
    flex-direction: column;

    width: 50vw;

    padding: 5vw;
    border-radius: 2vw;

    color: whitesmoke;
    background-image: url('crud-bg.jpg');
    background-size: cover;
    background-position: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0.1em 0.1em 0.2em black;
}


.container-Cadastro{
    display: flex;
    flex-direction: row;

    width: 40vw;

    justify-content: flex-start;
    text-align: left;
    margin-bottom: 2vw;
}

.container-Icon-Cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    min-width: 10%;
    
}

.container-Icon-VisiblePassword{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 5%;
    margin-left: -38%;
}

.container-Input-Cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90%;
}

.input-FullName-Cadastro, .input-Username-Cadastro, .input-Password-Cadastro{
    padding: 1%;
}

.input-FullName-Cadastro{
    width: 100%;

}

.input-Username-Cadastro, .input-Password-Cadastro{
    width: 20vw;
}

.Icon-Cadastro, .Icon-Visibility{
    height: 70%;
    width: auto;
    filter: drop-shadow(3px 5px 4px black);

}
.Icon-Visibility{
    cursor: pointer;
}