.form-Cadastro{
    display: flex;
    flex-direction: column;

    width: 40vw;

    padding: 3vw;
    border-radius: 2vw;

    background-image: url('crud-bg.jpg');
    background-size: cover;
    background-position: center;
}


.container-Cadastro{
    display: flex;
    flex-direction: row;

    width: 30vw;

    justify-content: flex-start;
    text-align: left;
    margin-bottom: 2vh;
}

.container-Icon-Cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    min-width: 10%;
    
}

.container-Icon-VisiblePassword-Cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 4%;
    margin-left: -35%;
}

.container-Input-Cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 90%;
}

.input-FullName-Cadastro, .input-Username-Cadastro, .input-Password-Cadastro{
    padding: 1%;
}

.input-FullName-Cadastro{
    width: 100%;

}

.input-Username-Cadastro, .input-Password-Cadastro{
    width: 60%;
}

.Icon-Cadastro{
    height: 70%;
    width: auto;
    filter: drop-shadow(3px 5px 4px black);
}