#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: whitesmoke;
}

.label-Local-g{
  font-size: x-small;
  font-style: italic;
  color: gray;
}