#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: whitesmoke;
}

.label-Local-g{
  font-size: x-small;
  font-style: italic;
  color: gray;
}

.span-Title-g{
  font-size: 5vh;
  padding-bottom: 5vh;
}

.Icon-Visibility-Password-g{
  height: 70%;
  width: auto;
  filter: drop-shadow(3px 5px 4px black);
  cursor: pointer;
}