#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: whitesmoke;
}

.label-Local-g{
  font-size: x-small;
  font-style: italic;
  color: gray;
}

.div-Title-Form-g{
  margin-top: 2dvh;
  margin-bottom: 5dvh;
}

.span-Title-g{
  font-size: 5vh;
  padding-bottom: 5vh;
  color: whitesmoke;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.select-g{
  padding: 1dvh;
  margin-right: 2dvw;
  margin-left: 2dvw;
}

.input-Camp-g{
  padding: 1dvh;
}

.Icon-Visibility-Password-g{
  height: 70%;
  width: auto;
  filter: drop-shadow(3px 5px 4px black);
  cursor: pointer;
}

.Icon-delete-ticket-g{
  width: 10%;
  min-width: 20px;
  cursor: pointer;
}

.Icon-delete-ticket-g:hover{
  scale: 1.2;
}


[class^="form"] {
  color: whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* MODAL */

/* modal.css */
.div-Modal{
  color: whitesmoke;
  width: 30%;
  padding: 5%;

  border-radius: 2vw;

  background-image: url('clock-bg.jpg');
  background-position: center;
  background-size: cover;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid whitesmoke;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }


  .button-Modal-Cancel{
    color: whitesmoke;
    background-color: #cf000f;
  }
  
