.Button-Chama-Ticket{
    font-size: 1.7vh;
    margin: 0.5%;
    width: auto;

    color: whitesmoke;
    background-color: #017dde;
}

.container-ChamaButton{
    display: flex;
    flex-direction: column;
}